// Header styles
.header {
    .jumbotron {
        background-image: url($header-image);
        color: $title-color;

        height: 40vh;

        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
    }
}

// Post block styles
.posts {
    // Just two columns for main content cards
    &.card-columns {
        column-width: 450px;
        column-count: auto;
    }

    .video-container {
        position: relative;
        height: 0;
        // Make the container the size of a 16/9 video
        padding-bottom: 100% / (16 / 9);

        > iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .tag {
        color: $accent-color;
        padding-right: 1em;
    }
}