extends post.pug

prepend post
    // {block:Quote}
append post
    // {/block:Quote}

block content
    div(class='card-block')
        blockquote(class='blockquote')
            p {Quote}
            // {block:Source}
            footer(class='blockquote-footer') {Source}
            // {/block:Source}