extends post.pug

prepend post
    // {block:Photo}
append post
    // {/block:Photo}

block content
    img.card-img-top(
        src='{PhotoURL-500}'
        alt='{PhotoAlt}'
    )

    // {block:Caption}
    .card-block
        p.card-text {Caption}(This is what your regular photo posts will look like)
    // {/block:Caption}