extends post.pug

prepend post
    // {block:Chat}
append post
    // {/block:Chat}

block content
    // {block:Title}
    h3.card-header
        a(href='{Permalink}') {Title}(A chat between George and you)
    // {/block:Title}

    ul.list-group.list-group-flush
        // {block:Lines}[3]
        li(class='list-group-item {Alt}')
            p
                // {block:Label}
                span {Label} 
                // {/block:Label}
                | {Line}
        // {/block:Lines}