extends post.pug

prepend post
    // {block:Video}
append post
    // {/block:Video}

block content
    .card-img-top.video-container {Video-700}

    // {block:Caption}
    .card-block
        p.card-text {Caption}(This is a video post)
    // {/block:Caption}