extends post.pug

prepend post
    // {block:Panorama}
append post
    // {/block:Panorama}

block content
    img.card-img-top(
        src='{PhotoURL-Panorama}'
        alt='{PhotoAlt}'
    )

    // {block:Caption}
    .card-block
        p.card-text {Caption}(This is what your panorama posts will look like)
    // {/block:Caption}