extends post.pug

prepend post
    // {block:Photo}
append post
    // {/block:Photo}

block content
    img.card-img-top(
        src='{PhotoURL-500}'
        alt='{PhotoAlt}'
    )

    include components/caption.pug