extends post.pug

prepend post
    // {block:Chat}
append post
    // {/block:Chat}

block content
    // {block:Title}
    h3.card-header
        a(href='{Permalink}') {Title}(A chat between George and you)
    // {/block:Title}

    ul.list-group.list-group-flush
        // {block:Lines}
        li.list-group-item
            p
                // {block:Label}
                span {Label}(George:) 
                // {/block:Label}
                | {Line}(I'm here to tell you that this is what your chat posts will look like)
        // {/block:Lines}