extends post.pug

prepend post
    // {block:Quote}
append post
    // {/block:Quote}

block content
    .card-block
        blockquote.blockquote
            p {Quote}(It does not matter how slow you go so long as you do not stop.)
            // {block:Source}
            footer.blockquote-footer {Source}(Confucious)
            // {/block:Source}