// {block:Photo}
div(class='row')
    div(class='col')
        figure(class='figure')
            img(
                class='img-fluid rounded'
                src='{PhotoURL-500}'
                alt='{PhotoAlt}'
            )
            figcaption(class='figure-caption') {Caption}
// {/block:Photo}