extends post.pug

prepend post
    // {block:Text}
append post
    // {/block:Text}

block content
    h3.card-header
        a(href='{Permalink}') {Title}(Text post)
    .card-block
        p.card-text {Body}(This is what your text posts will look like, looking good!)