extends post.pug

prepend post
    // {block:Text}
append post
    // {/block:Text}

block content
    h3(class='card-header')
        a(href='{Permalink}') {Title}
    div(class='card-block')
        p(class='card-text') {Body}