extends post.pug

prepend post
    // {block:Panorama}
append post
    // {/block:Panorama}

block content
    img(
        class='card-img-top'
        src='{PhotoURL-Panorama}'
        alt='{PhotoAlt}'
    )

    include components/caption.pug