div(class='row')
    div(class='col')
        figure(class='figure')
            img(
                class='img-fluid rounded'
                src='http://lorempixel.com/1000/400'
                alt='{PhotoAlt}'
            )
            figcaption(class='figure-caption') {Caption}