extends post.pug

prepend post
    // {block:Chat}
append post
    // {/block:Chat}

block content
    // {block:Title}
    h3.card-header
        a(href='{Permalink}') {Title}
    // {/block:Title}

    ul.list-group.list-group-flush
        // {block:Lines}
        li.list-group-item
            p
                // {block:Label}
                span {Label} 
                // {/block:Label}
                | {Line}
        // {/block:Lines}