extends post.pug

prepend post
    // {block:Photoset}
append post
    // {/block:Photoset}

block content
    .card-img-top {Photoset}

    // {block:Caption}
    .card-block
        p.card-text {Caption}(This is what your photoset posts will look like, multiple photos!)
    // {/block:Caption}