extends post.pug

prepend post
    // {block:Quote}
append post
    // {/block:Quote}

block content
    .card-block
        blockquote.blockquote
            p {Quote}
            // {block:Source}
            footer.blockquote-footer {Source}
            // {/block:Source}